.navbar {
  width: 100%;
  height: 50px;
  background-color: #1a1a1a;
}
.navbar > .navbar-container {
  width: 100%;
  height: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 0;
}
.navbar > .navbar-container > .navbar-logo {
  background-image: url("../img/nav-logo.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 90px;
  height: 40px;
  float: left;
}
.navbar > .navbar-container > .navbar-links > ul {
  list-style: none;
  margin: 0;
  padding-top: 10px;
}
.navbar > .navbar-container > .navbar-links > ul > li {
  margin: 0 0 0 0;
  float: left;
}
.navbar > .navbar-container > .navbar-links > ul > li > a {
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
}
.navbar > .navbar-container > .navbar-search {
  float: right;
}
