.navbar
	.navbar-container
		a.navbar-logo(ng-href="/", ng-click="value = 2") <!-- svg background -->
		.navbar-links
			ul
				li
					a(ng-href="/", ng-click="value = 2", ng-class="{active: routeIs('/')}") BROWSE
				li
					a(ng-href="/shows", ng-click="value = 2", ng-class="{active: routeIs('/about')}") ABOUT
		.navbar-search
			.search-container.inactive
				input.search-box(placeholder="search...")
				a(href="#")
					button.search-icon